@font-face {
  font-family: "OldNewspaperTypes";
  src: url('/static/fonts/OldNewspaperTypes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lodeh Regular";
  src: url('/static/fonts/Lodeh Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
  * {
    box-sizing: border-box;
}

body {
  font-family: "OldNewspaperTypes", sans-serif;
  background-color: #F5F2D5;
  color: #964B00;
}

header {
  background-color: #964B00; 
  color: #f0e68c; 
  padding: 20px;
  text-align: center;
  font-size: 40px; 
  border-bottom: 2px solid #964B00; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
  color:#007bff; /* Light yellow links for contrast */
  text-decoration: none;
  font-weight: bold;
}

main {
    padding: 20px;
}

.profile-pic {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}